.main-body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

.navBar {
  text-align: left;
  margin: 0 0 10px 30px;
  font-size: 24px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px solid #ccc;
  padding: 16px;
  margin: 16px;
  width: 300px;
}

.first-column {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.second-column {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card h4 {
  font-size: 13px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
}

.image {
  width: 70px;
}

.beerFave {
  padding: 15px;
}
.form {
  display: inline-block;
}

.heartIcon {
  color: rgb(93, 90, 90);
  display: inline-block;
  margin: 0 15px;
}
.heartIconClick {
  color: greenyellow;
}

.is-favorite {
  background-color: rgb(21, 215, 215);
}
.addNewItemBtn {
  margin: 10px;
}
