.main-body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
}

.navBar {
  text-align: center;
  margin: 0 0 10px 30px;
  font-size: 24px;
}

.card-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.card {
  flex-direction: column;
  align-items: center;
  border: 7px solid #ccc;
  padding: 20px;
  margin: 20px;
  width: 300px;
}

.first-column {
  background-color: #5fad93;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.second-column {
  background-color: #5fad93;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card h4 {
  font-size: 13px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
}

.image {
  width: 70px;
}

.beerFave {
  padding: 15px;
}
.form {
  display: inline-block;
}

.heartIcon {
  color: #5fad93;
  display: inline-block;
  margin: 0 10px;
}

.is-favorite {
  background-color: rgb(21, 215, 215);
}
.addNewItemBtn {
  margin: 10px;
}
